@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Quicksand:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

.header, .footer{
    background: #1F2937;
    display: flex;
    justify-content: center;
}


/* Set width of content */
.text button, .contact button {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
}

.header-container, .info-img-container, .quote, .contact {
    width: 70%;
}

/* Style button */


/* For nav bar */

.header-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.nav-link a {
    text-decoration: none;
    color: #ffffff;
}

/* For content in header */
.web-container {
    display: flex;
    gap: 30px;
}

.product-img {
    width: 50%;
    height: auto;
}

.web-container .text {
    color: #ffffff;
}

.text button {
    background: #3882F6;
    margin-top: 6px;
    padding: 8px 16px;
    border: none;
}

/* For info section */

.img-container .img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.info-img-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container p {
    text-align: center;
}

/* For quote section */
.quote-container {
    background: #E5E7EB;
    padding: 64px;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote cite {
    font-size: 20px;
}

.quote p {
    font-weight: 600;
    align-self: flex-end;
}

/* For contact section */

.contact-container {
    padding: 45px;
    display: flex;
    justify-content: center;
}

.contact {
    color: #fff;
    background: #2b75ed;
    padding: 32px 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact button {
    padding: 6px 16px;
    background-color: transparent;
    border: 1px solid #fff;
}

/* For footer */
.footer {
    color: #fff;
    padding: 10px;
}