.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar h1 {
    margin: 0;
}